<div>
  <div id="new">
    <h3>Create a new recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">Recipe name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-category">Category:</label>
        <select id="recipe-category" name="recipe-category">
          <option value="chicken">Chicken</option>
          <option value="beef">Beef</option>
          <option value="fish">Fish</option>
          <option value="pork">Pork</option>
          <option value="veggie">Veggie</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipe-ingredients">Ingredients:</label>
        <textarea class="form-input" id="recipe-ingredients" name="recipe-ingredients"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-description">Description:</label>
        <textarea class="form-input" id="recipe-description" name="recipe-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3>Current Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/recipeLogic.js"></script>