<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>ReciPro</title>
</head>

<body>
    {{!-- Header and Navigation bar --}}
    <div>
        <header>
            <h1>ReciPro</h1>
        </header>
    </div>

    {{!-- Login and Signup Panel --}}
    <div>
        <h2>Welcome!</h2>
        <p>Please login to continue<br><br>If you do not have an account, please Signup</p>
    </div>

    {{!-- Footer / Contact information --}}
    <div>
        <footer>

        </footer>
    </div>
    
</body>

</html>