<video id="background-video" autoplay loop muted poster="./video.mp4">
    <source src="./video.mp4" type="video/mp4">
</video>

<div id="welcome">
    <h2>Welcome to ReciPro!</h2>
    <p>ReciPro is a space to find and share recipes to help make meal time more exciting!</p>
    <p>Use panels to find recipes based on the main ingredient provided</p>
    <p>Please login or signup to view any recipes</p>
</div>

<div id="panels">
    <div id="chicken" class="category">
        <h2>Chicken</h2>
    </div>
    <div id="beef" class="category">
        <h2>Beef</h2>
    </div>
    <div id="fish" class="category">
        <h2>Fish</h2>
    </div>
    <div id="pork" class="category">
        <h2>Pork</h2>
    </div>
    <div id="veggie" class="category">
        <h2>Veggie</h2>
    </div>
    <div id="other" class="category">
        <h2>Other</h2>
    </div>
</div>