body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/img/cooking.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

label {
    display: inline-block;
    width: 150px;
}

a:link {
    text-decoration: none;
}


a:hover {
    color: blue;
}

a:visited {
    color: black;
}

.recipe-list {
    background-color: beige;
    border: 5px ridge lightblue;
    box-shadow: -2px 2px 30px lightblue;
    margin: auto;
    margin-top: 20px;
    height: 175px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 1px lightblue;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 5px ridge lightblue;
    margin-bottom: 50px;
    padding-left: 10px;
}

.header a {
    padding-right: 10px;
    color: lightblue;
    text-shadow: 2px 2px 2px black;

}

.logpanel {
    background-color: beige;
    border: 5px ridge lightblue;
    box-shadow: -2px 2px 30px lightblue;
    border-radius: 50%;
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 1px lightblue;
}

.logpanel h2 {
    font-size: 30px;
}

.form {
    padding-top: 20px;
    font-size: large;
}

.form-group {
    padding-top: 10px;
}

.category {
    font-family: cursive;
    font-size: larger;
    color: lightblue;
    text-shadow: 1px 1px 1px black;
    width: 250px;
    height: 150px;
    border-radius: 100%;
    box-shadow: -2px 2px 30px lightblue;
    text-align: center;
    margin-top: 10px;
    border: 3px ridge lightblue;
}

.category:hover {
    box-shadow: -2px 2px 30px 35px lightblue;
}

#pies {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 50%;
    margin: auto;
    background-color: beige;
    text-shadow: 1px 1px 1px 30px lightblue;
    box-shadow: -2px 2px 30px lightblue;
    border: 5px ridge lightblue;
    margin-top: 35px
    ;
}

#pies h2 {
    text-align: center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

#welcome {
    padding: 10px 0px;
    width: 65%;
    height: 185px;
    text-align: center;
    margin: auto;
    background-color: beige;
    text-shadow: 1px 1px 1px 30px lightblue;
    box-shadow: -2px 2px 30px lightblue;
    text-align: center;
    border: 5px ridge lightblue;
    border-radius: 50%;
}

#chicken {
    background-image: url(/img/chicken.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#beef {
    background-image: url(/img/beef.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fish {
    background-image: url(/img/fish.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pork {
    background-image: url(/img/pork.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#veggie {
    background-image: url(/img/veggies.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#other {
    background-image: url(/img/desserts.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

#new {
    padding: 5px 0px;
    width: 60%;
    height: 325px;
    margin: auto;
    background-color: beige;
    text-shadow: 1px 1px 1px lightblue;
    border-radius: 2%;
    box-shadow: -2px 2px 30px lightblue;
    border: 5px ridge lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .logpanel {
        width: 80%;
    }
    
    #welcome {
        width: 100%;
    }

    #main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}